@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: blue;
    background-image: url(sawit.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
}

  img{
    width: 50%;
    height:100% ;
    object-fit: cover;
  }




main {
    background-color: rgb(42, 165, 114);
  padding: 60px 40px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  justify-content: center;
   /* heigh : 100vh */
   /*border : 2px solid black; */
   /* box-shadow -10px 10px 0px black; */

}

h1 {
    margin: 0px;
}    

label, input {
    display: block;
}    

p {
    margin: 0px;
    font-style: italic;
    font-weight: 500;
}

input{
    width: 100;
    box-sizing: border-box;
    padding: 10px 12px;
    font-size: 18px;
    border: 2px solid rgb(133, 133, 133);
    border-radius: 10px;
    margin-top: 6px;}
    
.regisetr-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;  
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    font-size: 18px;
    border:  2px solid rgb(133, 133, 133);
    border-radius: 10px;
    margin-top: 6px;
}


